/*****about******/
.about{
  margin-bottom: 80px;
  h4{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.42857;
  }
  h1.title{
    margin-bottom: 80px;
    line-height: 100px;
    background-color: #000;
    color: #49C9DE;
  }
}
